<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" th:href="@{/bootstrap.css}">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<table class="table table-bordered">
    <thead >
    <tr>
        <th>用户名</th>
        <th>密 码</th>
        <th>邮 箱</th>
    </tr>
    </thead>
   <tbody>
      <tr th:each="result:${loginData}" >
          <td th:text="${result.usename}">name</td>
          <td th:text="${result.password}">name</td>
          <td th:text="${result.email}">name</td>
      </tr>
   </tbody>
</table>
</body>
</html>